<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tinymce</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="//polyfill.alicdn.com/polyfill.min.js?features=default,es2017,es6,fetch,RegeneratorRuntime"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/react@latest/umd/react.<%= htmlWebpackPlugin.options.script %>.js,npm/react-dom@latest/umd/react-dom.<%= htmlWebpackPlugin.options.script %>.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/tinymce@latest/tinymce.min.js"></script>
  </body>
</html>
